/***************** Utility *******************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --my-grey: #bebcbb;
}
/***************** Common *******************/

/***************** header e nav *******************/
#logo-sony{
    width: 90px;
}
/***************** backgroun sezioni *******************/
#hero, #hero-2{
    background-size: cover;
    background-position: center;
    height: 675px;
}
#hero{
    background-image: url('../img/jumbo-bg.png');
}
#hero-2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}
#ps-plus{
    background-color: var(--my-grey);
}
/***************** card animate *******************/

.my-border-white{
    border: 2px solid white;
    transition: 0.5s;
}
.my-box-shadow:hover div:first-child{
    box-shadow: 0 0 0 0px white, 0 0 0 1.5px #0072CE;
    transform: translate(0 , -10%);
}